.work {
	display: flex inline;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.entry {
	flex: 25%;
	--max-width: 25%;
	padding: 0 4px;
}

.entry img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

.entry p {
	font-size: 20px;
	margin-top: 1ch;
	--margin-bottom: -1ch;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.entry {
		flex: 50%;
		max-width: 50%;
	}
}

